@{
    ViewData["Title"] = "Utilize";
}
<style>
    background-color: #3e3a40;
</style>

<audio autoplay=''>
        <source src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/142927/intro.mp3' type='audio/mpeg'>
</audio>
<div class="row text-center">
    <div class="col-12 mt-5">
        <img src="~/img/rip.gif" width="300px" alt="rest in peace">
        <h3>(funeral music plays)</h3>
        <h3>that cannot be undone! </h3>
        <h3>now the Uglymon is dead gone... </h3>
        <h3>actually it can be undone :) </h3>
        <h3>press "Back" button</h3>
        <a href="/" class="nes-btn is-success m-2">Back</a>
    </div>
</div>