<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/styles.css">
    <script type="module" src="~/js/app.js"></script>
</head>
<body>
    <p><a href="/">Home</a> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a></p>
    <h1>Please don't bother me</h1>

    <form action="/NOT_WORKING_ROUTE_THO" method="post">
        <p>Name:</p>
        <label for="name"></label>
        <input type="text" name="name" ><br>

        <p>Email:</p>
        <label for="email"></label>
        <input type="email" name="email" ><br>

        <p>Message:</p>
        <textarea name="instr"cols="30" rows="10"></textarea>
        <p><input type="submit" value="SEND"></p>
       
    </form>


</body>
</html>