<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>There are out Users</h1>
    <p>@ViewBag.Users</p>
            @foreach(string u in ViewBag.Users)
            {
               <p>@u</p>
            }
</body>
</html>