@{
    ViewData["Title"] = "Home Page";
}

<h1>The count is @ViewBag.Count</h1>
<a href="/add" class="btn btn-success btn-outline-dark">+++</a>
<a href="/sub" class="btn btn-danger btn-outline-dark">---</a>
<a href="/reset" class="btn btn-warning btn-outline-dark">RESET</a>